html, body, aside, div, p, nav, a,
i, ul, li, section, img, footer {
  padding: 0;
  margin: 0;
}

html {
  font-family: "source code pro", consolas, "Microsoft YaHei", "hiragino sans gb", "wenquanyi micro hei", sans-serif;
  /* font-family: "lucida grande"; */
  /* font-family: STXihei; */
  /* font-family: "Microsoft YaHei"; */
  /* font-family: STXihei, "Microsoft YaHei"; */
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.main {
  width: 100%;
  overflow: inherit;
}

.main .box {
  overflow: hidden;
  margin: 20px 30px;
  background: #fff;
  padding-bottom: 50px
}

.main .box .title>div {
  padding: 12px 0 0 2.1%;
  font-size: 18px
}

.main .box .project {
  width: 20%;
  border: 1px solid #e4ecf3;
  box-shadow: 1px 2px 3px #f2f6f8;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
  min-width: 200px;
  margin: 22px 0 0 2.1%;
  float: left;
  overflow: hidden;
  transition: all .3s
}

.main .box .project:hover {
  transform: translateY(-5px)
}

.main .box .project .desc {
  color: gray;
  font-size: 12px;
  /* padding-top: 10px; */
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.footer {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  font-size: 16px;
}

/* 暂未用到 */
/*
.main .box .project .no-logo {
  color: #3273dc;
  font-weight: 700;
  font-size: 14px
}

.main .box .project .logo {
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #3273dc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .1rem
}

.main .box .project .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle
}
*/
